<%-include('../includes/head.ejs')%>
</head>
<body>
   <%-include('../includes/navigation.ejs')%>
   <main class="ma">
      <h1>Nothing is there in order</h1>

   </main>
   

    <%-include('../includes/end.ejs')%></body>